<div class="aliange-klaviyo-reviews">
  <div id="klaviyo-reviews-all" data-id="{{ product.id }}"></div>
</div>

{% schema %}
{
  "name": "Klaviyo — Product Reviews",
  "settings": []
}
{% endschema %}
